Solucion WCF/Ejemplo WCF/Consumidor/Connected Services/WCFEjemploCliente/WCFEjemplo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="Edad" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="BaseMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseMensaje" nillable="true" type="tns:BaseMensaje" />
</xs:schema>